@use "variables" as *;
@import "bootstrap/scss/bootstrap";

body {
    padding-bottom: 6em;

    table {
        margin-bottom: 0 !important;
    }

    h1 {
        color: $textColor;

        &:hover {
            color: $textColorHover;
        }
    }

    .bold {
        font-weight: bold;
        color: $textColor;

        h2 {
            font-style: italic;

            &:hover {
                font-style: normal;
            }
        }
    }
}
