<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login}">Login</title>
    <thymeleaf th:insert="includes::header_includes" />
</head>
<body>

<header th:insert="~{navbar::navbar(page='login')}">navbar</header>

<div class="col-md-4 bg-warning py-2 my-3 rounded mx-auto text-center">
    <h1 class="display-4 text-white" th:text="#{login}">Login</h1>
    <form th:action="@{/login}" method="post" class="rounded bg-danger border-danger m-2">
        <div class="form-floating pt-3">
            <div class="text-white" th:text="#{username}">Username</div>
            <input type="text" class="form-text text-black" id="username" name="username" placeholder="Username" required>
        </div>

        <div class="form-floating pt-3">
            <div class="text-white" th:text="#{password}">Password</div>
            <input type="password" class="form-text text-black" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="form-floating pt-3 pb-3">
            <label for="submit" class="form-label"></label>
            <input type="submit" class="btn btn-success" id="submit" name="submit" value="Submit">
        </div>
    </form>
</div>

<footer th:insert="~{footer::copyright}">&copy; Silviu Dobre</footer>

</body>
</html>
