<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{searchuniversity}">Search universities</title>
  <thymeleaf th:insert="includes::header_includes" />
  <script defer src="/js/bundle-searchuniversity.js"></script>
</head>
<body>

<header th:insert="~{navbar::navbar(page='searchuniversity')}">navbar</header>

<h1> <span th:text="#{searchuniversitygreeting}" class="title mx-md-3 mt-md-2">Hey handsome! Are you looking for a university?</span>&#x1F913;</h1>

<div class="col-md-4 mx-md-4 mb-md-4">
  <label for="searchValue" class="form-label"></label>
  <input id="searchValue" class="form-control" placeholder="Search it here!" th:placeholder="#{searchvalue}">
</div>

<table class="table table-striped table-hover" id="searchResults">
  <thead class="table-dark sticky-top">
  <tr>
    <th th:text="#{searchuniversityname}">Name</th>
    <th th:text="#{searchuniversityfoundingdate}">Founding date</th>
    <th th:text="#{searchuniversitytype}">Type</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<div style="text-align:center">
  <img src="https://previews.123rf.com/images/kjnnt/kjnnt1605/kjnnt160500255/56793535-there-s-nothing-here-typography-vector-illustration.jpg" width="160" height="255" alt="no records in table" class="emptyTableImage"/>
</div>

<footer th:insert="~{footer::copyright}">&copy; Silviu Dobre</footer>

</body>
</html>
